<div class="d-flex justify-content-start">

    <div class="top-explain col-8 ">
      <h1>音楽からコンテンツと出会えるサイト </h1>
      <p>イメソンをシェアしよう！</p>
    </div>
    <div class="chikuonki col-4">
      <%= image_tag "chikuonki2.png" %>
    </div>

</div>