<div class="d-flex justify-content-start">

    <div class="top-explain col-8 ">
      <h1>音楽を通じて<br>新たなコンテンツに出会うための<br>掲示板アプリです</h1>
      <h3>イメソンをシェアして布教しあいましょう！</h3>
    </div>
    <div class="chikuonki col-4">
      <%= image_tag "chikuonki2.png" %>
    </div>

</div>