<div class="d-flex justify-content-center">
<div class="row">
    <div class="top-explain col-md-9 col-sm-6 col-xs-12">
      <h1><i class="fa-solid fa-music"></i>音楽×<i class="fa-solid fa-film"></i>コンテンツ<i class="fa-solid fa-book"></i></h1>
      <h3>イメソンをシェアして布教しあいましょう！</h3>
    </div>
    <div class="chikuonki col-md-3 col-sm-6 col-xs-12">
      <%= image_tag "chikuonki2.png" %>
    </div>
</div>
</div>