<div class="container">
  <div class="show-card">
    <div class="explain">
      <h3>紹介するコンテンツのメディアを選択して、<br>情報を書いて保存を押してね</h3>
    </div>
    <div class="detail d-flex justify-content">
      <div class="row">
        <div class="detail-left col-md-6 col-sm-12 "> 
          <div class="song-info">
            <%= render "songs/song", song: @song %> 
          </div>
        </div>
        <div class="detail-right col-md-6 col-sm-12">
          <div class="content-radiobutton">
            <input type="radio" id="comic-radio" name="content-type" value="comic">漫画<br>
            <input type="radio" id="novel-radio" name="content-type" value="novel">小説<br>
            <input type="radio" id="movie-radio" name="content-type" value="movie">映画<br>
          </div>
  <br>
          <div class="content-form">
            <div id="comic-form" style="display: none;">
            <%= render "comics/form", comic: @comic %>
            </div>

            <div id="novel-form" style="display: none;">
              <%= render "novels/form", novel: @novel %>
            </div>

            <div id="movie-form" style="display: none;">
              <%= render "movies/form", movie: @movie %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





