<h1>Admin::Songs#edit</h1>
<p>Find me in app/views/admin/songs/edit.html.erb</p>
<h1>Editing song</h1>

<%= render "form", song: @song %>

<br>

<div>
  <%= link_to "Show this song", @song %> |
  <%= link_to "Back to songs", admin_songs_path %>
</div>
