  <div class="to-content-page">
    <h4><i class="fa-solid fa-film"></i><%= @movie.title %> /
    <%= @movie.director %> /
    <%= I18n.t("activerecord.enum.movie.category.#{@movie.category}")%></h4>
  </div>