<h1>Admin::Artists#edit</h1>
<p>Find me in app/views/admin/artists/edit.html.erb</p>
<h1>Editing artist</h1>

<%= render "form", artist: @artist %>

<br>

<div>
  <%= link_to "Show this artist", @artist %> |
  <%= link_to "Back to artists", admin_artists_path %>
</div>