<h1>Admin::Artists#show</h1>
<p>Find me in app/views/admin/artists/show.html.erb</p>
<div class="container"> 
  <p style="color: green"><%= notice %></p>

  <%= render @artist %>

  <div class="model-operation">
    <%= link_to "Back to artists", admin_artists_path %>
  </div>
</div>