<h1>Admin::Animes#show</h1>
<p>Find me in app/views/admin/animes/show.html.erb</p>
<div class="container-fluid"> 
  <p style="color: green"><%= notice %></p>

  <%= render @animes %>

  <div class="model-operation">
    <%= link_to "Back to animes", admin_animes_path %>
  </div>
</div>