<!-- いいねしているとき -->
<%= turbo_frame_tag "like-button-#{@likeable.class.to_s}-#{@likeable.id}" do %>
  <% if current_user.likes.exists?(likeable: @likeable) %> 
  <div class="liked" >
    <div class="like_destroy">
      <%= link_to like_path(current_user.likes.find_by(likeable: @likeable)), data: { "turbo-method": :delete} do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
    </div>
  </div>

  <% else %>

  <div class="unliked">
    <div class="like_create">
      <%= link_to likes_path(likeable_type: @likeable.class.to_s, likeable_id: @likeable.id ), data: { "turbo-method": :post} do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    </div>
  </div>

  <% end %>
<% end %>

