<!-- いいねしているとき -->
<% if current_user.likes.exists?(likeable: @likeable) %> 
<div class="liked" >
  <%= render 'likes/destroy' %>
</div>


<!-- いいねしていないとき -->
<% else %>

<div class="unliked">
<%= render 'likes/create' %>
</div>

<% end %>