<div class="container">
  <h1>お気に入り一覧</h1>
  <% @likes.each do |like| %>
    <% if like.likeable_type == 'Post' %>
      <%= link_to like.likeable.title, post_path(like.likeable) %>
    <% elsif like.likeable_type == 'Board' %>
      <%= link_to like.likeable.title, board_path(like.likeable) %>
    <% elsif like.likeable_type == 'Answer' %>
      <%= link_to like.likeable.body, board_path(like.likeable.board) %>
    <% end %>
  <% end %>

</div>