
<div id="<%= dom_id user %>", class="user">
<br>
  <p>
    <%= image_tag(user.image.present? ? user.image_url : 'user_default.png', size: '75x75;') %>
  </p>

    <p>
    <strong>名前:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>自己紹介</strong>
    <%= user.introduction %>
  </p>


</div>
