<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>


  <p>
    <strong>Image:</strong>
    <%= image_tag(user.image.present? ? user.image_url : 'user_default.jpg') %>
  </p>


  <p>
    <strong>Introduction:</strong>
    <%= user.introduction %>
  </p>


</div>
