<h1>Comic#show</h1>
<p>Find me in app/views/comics/show.html.erb</p>
<%= render "comic", comic: @comic %>

<div class="link_button">
<%= link_to "一覧", comics_path %>
</div>
<div class="link_button">
<%= link_to "編集", edit_comic_path(@comic) %>
</div>
<div class="link_button">
<%= link_to comic_path(@comic), data: { turbo_method: :delete, turbo_confirm: t('削除しますか？') } do %>
削除
<% end %>
</div>



