<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='align-middle d-flex justify-content-center'>
        <div class='copyright'>
          <p>Copyright © ImageSong
          / 
          <%= link_to "利用規約", terms_path %>
          / 
          <%= link_to "プライバシーポリシー", privacy_policy_path %>
          /
          <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/1IQB3kvJHPcVfKOsNKSjFXGqY8lw3GYV5dFJv5uugMSU", target: :_blank, rel: "noopener noreferrer" %></p>
        </div>
      </div>
    </div>
  </div>
</footer>