<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='align-middle d-flex justify-content-center'>
        <div class='copyright'>
          <p>Copyright © ImageSong
          / 
          利用規約
          / 
          プライバシーポリシー</p>
        </div>
      </div>
    </div>
  </div>
</footer>