<div class="modal" tabindex="-1" role="dialog" id="loadingModal">
  <div class="modal-dialog modal-dialog-centered text-center">
    <div class="modal-content">
      <div class="modal-body">
          <h1><i class="fa-solid fa-compact-disc fa-spin" style="color: #5D5D63;"></i></h1>
          <span>楽曲情報取得中</span>
      </div>
    </div>
  </div>
</div>

