<div class="modal" tabindex="-1" role="dialog" id="loadingModal">
  <div class="modal-dialog modal-dialog-centered text-center">
    <div class="modal-content">
      <div class="modal-body">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var form = document.querySelector("form");
  if (form) {
    form.addEventListener("submit", function() {
      var myModal = new bootstrap.Modal(document.getElementById('loadingModal'), {
        backdrop: 'static',
        keyboard: false
      });
      myModal.show();
    });
  }

  document.addEventListener("ajax:complete", function() {
    var myModal = bootstrap.Modal.getInstance(document.getElementById('loadingModal'));
    myModal.hide();
  });
});
</script>
