<div class="container">
  <div class="show-card">
    <h1>回答編集</h1>
      <div class="detail d-flex justify-content">
      <div class="row">
        <div class="detail-left col-md-6 col-sm-12 "> 
          <div class="song-info">
            <%= render "songs/song", song: @board.song %> 
          </div>
        </div>
        <div class="detail-right col-md-6 col-sm-12">
          <%= render "form", answer: @answer, board: @board %>
        </div>
      </div>
    </div>
    <br>

  </div>
</div>
