<!-- このファイル使う？ -->
<p style="color: green"><%= notice %></p>

<h1>Answers</h1>

<div id="answers">
  <% @answers.each do |answer| %>
  <div class="answer">
    <%= render answer %>
  </div>
  <% end %>
</div>

<%= link_to "New answer", new_board_answer_path %>
