<p style="color: green"><%= notice %></p>

<%= render @answer %>

<div>

  <%= link_to "Back to answers", board_answers_path %>

  <%= link_to "Destroy this answer", board_answer_path(@answer), method: :delete %>
</div>
