<div class="container">
<div class="show-card">
  <div class="explain">
  <br>
    <h3>楽曲情報を取得します</h3>
    <p>紹介したい / 知りたい曲の名前とアーティストを入れてね</p>
  </div>
    <%= render "songs/form", song: @song %>

    <%= render "shared/loading_modal" %>
</div>
</div>


