<h1>Admin::Movies#edit</h1>
<p>Find me in app/views/admin/movies/edit.html.erb</p>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Show this movie", @movie %> |
  <%= link_to "Back to movies", admin_movies_path %>
</div>