  <div class="to-content-page">
    <h4><i class="fa-solid fa-gamepad"></i></i><%= @game.title %> /
    <%= @game.creator %> / 
    <%= I18n.t("activerecord.enum.game.category.#{@game.category}")%></h4>
  </div>
