<h1>Novel#show</h1>
<p>Find me in app/views/novel/show.html.erb</p>
<%= render "novel", novel: @novel %>

<div class="link_button">
<%= link_to "一覧", novels_path %>
</div>
<div class="link_button">
<%= link_to "編集", edit_novel_path(@novel) %>
</div>q
<div class="link_button">
<%= link_to novel_path(@novel), data: { turbo_method: :delete, turbo_confirm: t('削除しますか？') } do %>
削除
<% end %>
</div>
