<div class="container">
  <div class="detail d-flex justify-content">
    <div class="row">
      <div class="detail-left col-6"> 
        <div class="song-info">
          <%= render "songs/song", song: @board.song %> 
        </div>
      </div>
    
      <div class="detail-right col-6">
        <%= render "form", board: @board %>
      </div>
    </div>
  </div>
  <br>

<br>

  <div>
    <%= link_to "スレッドに戻る", @board %> |
    <%= link_to "スレッド一覧に戻る", boards_path %>
  </div>
</div>