<div class="container">
  <div class="show-card">
    <div class="detail d-flex justify-content">
      <div class="row">
        <div class="detail-left col-md-6 col-sm-12"> 
          <div class="song-info">
            <%= render "songs/song", song: @board.song %> 
          </div>
        </div>
      
        <div class="detail-right col-md-6 col-sm-12">
          <%= render "form", board: @board %>
        </div>
      </div>
    </div>
    <br>

  <br>

    <div>
      <%= link_to "スレッドに戻る", @board %> |
      <%= link_to "スレッド一覧に戻る", boards_path %>
    </div>
  </div>
</div>