<%= t('.title') %>

<%= render "form", board: @board %>

<br>

<div>
  <%= link_to t("helpers.defaults.show"), @board %> |
  <%= link_to t("helpers.defaults.back", item: t("helpers.defaults.board")), boards_path %>
</div>
