<div class="container">
<br>
  <div class="show-card">
    <div class="explain">
      <h3>スレッドのコメントを書いてね</h3>
      <p>地雷を避けるためになんとなく希望を伝えておこう！
      <br>ex) 人が死ぬのは嫌だ〜<br>恋愛感情なしのがいい！</p>

    </div>
    <div class="detail d-flex justify-content">
      <div class="row">
        <div class="detail-left col-md-6 col-sm-12"> 
          <div class="song-info">
            <%= render "songs/song", song: @song %> 
          </div>
        </div>
      
        <div class="detail-right col-md-6 col-sm-12">
          <%= render "form", board: @board %>
        </div>
      </div>
    </div>
    <br>

    <div>
      <%= link_to "スレッド一覧に戻る", boards_path %>
    </div>
  </div>
</div>
