<div class="container">
  <h1>New board</h1>

  <div class="song-info">
    <%= render "songs/song", song: @song %> 
  </div>

  <%= render "form", board: @board %>

  <br>

  <div>
    <%= link_to "Back to boards", boards_path %>
  </div>
</div>
