<h1>Admin::Novels#edit</h1>
<p>Find me in app/views/admin/novels/edit.html.erb</p>
<h1>Editing novel</h1>

<%= render "form", novel: @novel %>

<br>

<div>
  <%= link_to "Show this novel", @novel %> |
  <%= link_to "Back to novels", admin_novels_path %>
</div>