<div id="<%= dom_id post %>">
  <br>
    <div class="song-image song-image-size">
      <%= image_tag post.song.image %>
    </div>

    <div class="song-infomation">
      <%= post.song.name %> / <%= post.song.artist.name %>
    </div>
    <br>
</div>
