<%= t('.title') %>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to t("helpers.defaults.show"), @post %> |
  <%= link_to t("helpers.defaults.back", item: t("helpers.defaults.post")), posts_path %>
</div>
