<h1>New post</h1>
<div class="song-info">
  <%= render "songs/song", song: @song %> 
</div>

<div class="form">
  <%= render "form", post: @post %>
</div>

<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
