 <div class="col-lg-10 offset-lg-1"> 
  <p style="color: green"><%= notice %></p>

  <%= render @post %>

  <div class="model-operation">
    <%= link_to t("helpers.defaults.back", item: t("helpers.defaults.post")), posts_path %>
  </div>
</div>
