 <div class="container"> 
 <br>
   <div class="show-card">
    <p style="color: green"><%= notice %></p>
    <div class="post-detail">
      <%= render @post %>
    </div>
    <div class="model-operation">
      <%= link_to t("helpers.defaults.back", item: t("helpers.defaults.post")), posts_path %>
    </div>
  </div>
</div>
