<br>

<div class="artist-info d-flex flex-row align-items-end" >
<div class="p-2">
<%= link_to artist_list_path(artist), data: { turbo: false } do %>
  <h3><li><%= artist.name %></li></h3>
<% end %>
</div>
<div class="p-2">
  <%= link_to artist_list_path(@artist_list), data: { turbo_method: :delete }, title: "リストから削除する" do %>
    <i class="fa-solid fa-square-xmark"></i> 
  <% end %>
</div>
</div>