<div class="col-lg-10 offset-lg-1">
  <h1>ArtistLists#index</h1>
  <p>Find me in app/views/artist_lists/index.html.erb</p>
  <div class="listed-artists">
    <% if current_user.artists.present? %>
      <%= render partial: 'artist', collection: @artists %>
    <% else %>
      アーティストリストは空です
    <% end %>
  </div>
</div>
