<div class="container">
  <div class="show-card">
  <h2>アーティストリスト</h2>
    <div class="listed-artists">
      <% if current_user.artists.present? %>
        <%= render partial: 'artist', collection: @artists %>
      <% else %>
        アーティストリストは空です
      <% end %>
    </div>
  </div>
</div>