<h1>Admin::Users#edit</h1>
<p>Find me in app/views/admin/users/edit.html.erb</p>
<div class="container">
  <h1>Editing user</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Show this user", admin_user_path(@user) %> |
    <%= link_to "Back to users", admin_users_path %>
  </div>
</div>
