<h1>Admin::Users#show</h1>
<p>Find me in app/views/admin/users/show.html.erb</p>
<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @user %>

  <div>
    <%= link_to "Back to users", admin_users_path %>
  </div>

</div>