<h1>Admin::Comics#edit</h1>
<p>Find me in app/views/admin/comics/edit.html.erb</p>
<h1>Editing comic</h1>

<%= render "form", comic: @comic %>

<br>

<div>
  <%= link_to "Show this comic", admin_comic_path(@comic) %> |
  <%= link_to "Back to comics", admin_comics_path %>
</div>